
.map-page-container {
    display: flex;
}

.filter-column {
    position: relative;
}

.filter-controls {
    flex: 0 1 auto;
}

.filter-container input[type="checkbox"]{
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    transform: scale(1.5);
    vertical-align: baseline;
    margin: 5px;
}

.filter-list {
    /*height: 100%*/
    flex: 1;
    min-height:400px;
}

.filter-container {
    padding-top:10px;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.route-list {
    width: 100%;
    /*height: 100%*/
    flex: 1;
    min-height:400px;
}

@media (max-width: 769px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .filter-column {
        padding-top: 10px;
        flex: 1 1 auto;
        height: 50%;
    }

    .map-column {
        flex: 1 1 auto;
        width: 100%;
        height: 50%;
    }

    .map-page-container {
        position: absolute;
        height: 200%;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        flex-direction: column-reverse;
    }
}

@media (min-width: 769px) {
    /deep/ body {
        height: 100%
    }

    /deep/ app {
        height: 100%
    }

    /deep/ map {
        height: 100%;
        position: absolute;
        width: 100%;
    }

    /deep/ .body-content {
        height: 100%
    }

    .filter-controls {
        padding-left: 10px;
    }

    .filter-column {
        flex: 1 1 40%;
        height: 99%;
        min-width: 200px;
    }

    .map-column {
        flex: 1 0 60%;
        height: 100%;
        width: 100%;
    }

    .map-page-container {
        width: 100%;
        flex-direction: row;
        height: 100%
    }
}

.inline-editor{
    border-width: 0px;
}

.inline-editor:focus{
    border-width: 1px;
}

.route-list--item{
    padding: 0px 0px 0px 10px;
}

.route-list--item .inline-editor {
    width: 100%;
}

textarea.inline-editor{
    resize: none;
}
